.result-Elections{
    justify-items: left !important;
}
.cbutton{
    justify-items: left !important;
}
.previous{
    text-decoration: none !important;
    justify-content: left !important;
    
   
}