.sidebar{
    background-color: black;
    min-height: 100vh;
    color: white;

}
.imglogo{
    height: 60px;
    width: 60px;
}
.logo{
    align-items: center;
    background-color: rgb(29, 29, 29);
}
.username{
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
}
.section-name{
    color: white;
    text-transform: uppercase;
}
.aboveHeader{
    width: 100%;
    height: 50px;
    background-color: rgb(206, 221, 246);
}
.sections{
    align-items: center;
    height: 80px; 
    background-image: linear-gradient(black, rgb(24, 24, 24)) !important;
}
.secbtn{
    text-decoration: none;
}
.secbtn.active{
   position: relative;
   left: 4px;
   /* border-right: 2px solid white; */
   border-bottom: 2px solid white;
   .sec-icon{
     height: 35px;
     width: 35px;
   }
   
}
